
    <div class="main-container">
      <div class="header">
        <h1>Assessment Test</h1>
        <countdown class="countdown" [config]="{ leftTime: 600, format: 'm:s' }"></countdown>
      </div>
      <h2>MCQ(Multiple Choice Question)</h2>
      
         <!-- MCQ question body starts here -->
      <div class="question-body">
        <div class="question-title">
          <p>1. Who is the prime minister of india</p><br>
        </div>
        <div class="question-options">
          <input type="checkbox" id="option1" name="option1" value="project" />
          <label for="project">Narendar Modi</label><br /><br />

          <input type="checkbox" id="option1" name="option2" value="project" />
          <label for="project">Rahul Gandhi</label><br />
          <br />

          <input type="checkbox" id="option1" name="option3" value="project" />
          <label for="project">Namo Namo</label><br />
          <br />

          <input type="checkbox" id="option1" name="option4" value="project" />
          <label for="project">All Of the above</label><br />
        </div>
        
      </div> 
         <!-- MCQ question body starts here -->
      <div class="question-body">
        <div class="question-title">
          <p>2. Who is the prime minister of india</p><br>
        </div>
        <div class="question-options">
          <input type="checkbox" id="option1" name="option1" value="project" />
          <label for="project">Narendar Modi</label><br /><br />

          <input type="checkbox" id="option1" name="option2" value="project" />
          <label for="project">Rahul Gandhi</label><br />
          <br />

          <input type="checkbox" id="option1" name="option3" value="project" />
          <label for="project">Namo Namo</label><br />
          <br />

          <input type="checkbox" id="option1" name="option4" value="project" />
          <label for="project">All Of the above</label><br />
        </div>
        
      </div> 
         <!-- MCQ question body starts here -->
      <div class="question-body">
        <div class="question-title">
          <p>3. Who is the prime minister of india</p><br>
        </div>
        <div class="question-options">
          <input type="checkbox" id="option1" name="option1" value="project" />
          <label for="project">Narendar Modi</label><br /><br />

          <input type="checkbox" id="option1" name="option2" value="project" />
          <label for="project">Rahul Gandhi</label><br />
          <br/>

          <input type="checkbox" id="option1" name="option3" value="project" />
          <label for="project">Namo Namo</label><br />
          <br/>

          <input type="checkbox" id="option1" name="option4" value="project" />
          <label for="project">All Of the above</label><br />
        </div>
        
      </div> 
      <!-- MCQ question body starts here -->

      <div class="question-body">
        <div class="question-title">
          <p>4. Who is the prime minister of india</p><br>
        </div>
        <div class="question-options">
          <input type="checkbox" id="option1" name="option1" value="project" />
          <label for="project">Narendar Modi</label><br /><br />

          <input type="checkbox" id="option1" name="option2" value="project" />
          <label for="project">Rahul Gandhi</label><br />
          <br />

          <input type="checkbox" id="option1" name="option3" value="project" />
          <label for="project">Namo Namo</label><br />
          <br />

          <input type="checkbox" id="option1" name="option4" value="project" />
          <label for="project">All Of the above</label><br />
        </div>
        
      </div>

       <!-- MCQ question body ends here -->

       
       <!-- MCQ question body starts here -->
      <div class="question-body">
        <div class="question-title">
          <p>5. Who is the prime minister of india</p><br>
        </div>
        <div class="question-options">
          <input type="checkbox" id="option1" name="option1" value="project" />
          <label for="project">Narendar Modi</label><br /><br />

          <input type="checkbox" id="option1" name="option2" value="project" />
          <label for="project">Rahul Gandhi</label><br />
          <br />

          <input type="checkbox" id="option1" name="option3" value="project" />
          <label for="project">Namo Namo</label><br />
          <br />

          <input type="checkbox" id="option1" name="option4" value="project" />
          <label for="project">All Of the above</label><br />
        </div>
        
      </div>

       <!-- MCQ question body ends here -->
        <!-- MCQ question body starts here -->
      <div class="question-body">
        <div class="question-title">
          <p>6. Who is the prime minister of india</p><br>
        </div>
        <div class="question-options">
          <input type="checkbox" id="option1" name="option1" value="project" />
          <label for="project">Narendar Modi</label><br /><br />

          <input type="checkbox" id="option1" name="option2" value="project" />
          <label for="project">Rahul Gandhi</label><br />
          <br />

          <input type="checkbox" id="option1" name="option3" value="project" />
          <label for="project">Namo Namo</label><br />
          <br />

          <input type="checkbox" id="option1" name="option4" value="project" />
          <label for="project">All Of the above</label><br />
        </div>
        
      </div>

       <!-- MCQ question body ends here -->
        <!-- MCQ question body starts here -->
      <div class="question-body">
        <div class="question-title">
          <p>7. Who is the prime minister of india</p><br>
        </div>
        <div class="question-options">
          <input type="checkbox" id="option1" name="option1" value="project" />
          <label for="project">Narendar Modi</label><br /><br />

          <input type="checkbox" id="option1" name="option2" value="project" />
          <label for="project">Rahul Gandhi</label><br />
          <br />

          <input type="checkbox" id="option1" name="option3" value="project" />
          <label for="project">Namo Namo</label><br />
          <br />

          <input type="checkbox" id="option1" name="option4" value="project" />
          <label for="project">All Of the above</label><br />
        </div>
        
      </div> 

       <!-- MCQ question body ends here -->
          <!-- MCQ question body starts here -->
      <div class="question-body">
        <div class="question-title">
          <p>8. Who is the prime minister of india</p><br>
        </div>
        <div class="question-options">
          <input type="checkbox" id="option1" name="option1" value="project" />
          <label for="project">Narendar Modi</label><br /><br />

          <input type="checkbox" id="option1" name="option2" value="project" />
          <label for="project">Rahul Gandhi</label><br />
          <br />

          <input type="checkbox" id="option1" name="option3" value="project" />
          <label for="project">Namo Namo</label><br />
          <br />

          <input type="checkbox" id="option1" name="option4" value="project" />
          <label for="project">All Of the above</label><br />
        </div>
        
      </div> 
         <!-- MCQ question body starts here -->
      <div class="question-body">
        <div class="question-title">
          <p>9. Who is the prime minister of india</p><br>
        </div>
        <div class="question-options">
          <input type="checkbox" id="option1" name="option1" value="project" />
          <label for="project">Narendar Modi</label><br /><br />

          <input type="checkbox" id="option1" name="option2" value="project" />
          <label for="project">Rahul Gandhi</label><br />
          <br />

          <input type="checkbox" id="option1" name="option3" value="project" />
          <label for="project">Namo Namo</label><br />
          <br />

          <input type="checkbox" id="option1" name="option4" value="project" />
          <label for="project">All Of the above</label><br />
        </div>
        
      </div> 
         <!-- MCQ question body starts here -->
      <div class="question-body">
        <div class="question-title">
          <p>10. Who is the prime minister of india</p>
        </div>
        <div class="question-options">
          <input type="checkbox" id="option1" name="option1" value="project" />
          <label for="project">Narendar Modi</label><br /><br />

          <input type="checkbox" id="option1" name="option2" value="project" />
          <label for="project">Rahul Gandhi</label><br />
          <br />

          <input type="checkbox" id="option1" name="option3" value="project" />
          <label for="project">Namo Namo</label><br />
          <br />

          <input type="checkbox" id="option1" name="option4" value="project" />
          <label for="project">All Of the above</label><br />
        </div>
        
      </div>

      <!-- **************** -->
<div class="button-family"> 
  <button class="button" name="button" [routerLink]="['/addQuestion']">Add Question</button>
   <button class="button" name="button">Next</button>
  <button class="button" name="button">Final Submit</button>
  <br>
</div>

 </div>

